@import url('https://fonts.googleapis.com/css?family=Questrial:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

html, body {
    padding-top: 30px;
}

.particles {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.typist {
    color: #0be881;
    font-size: 1.1rem;
}
